@model TodoListApp.WebApp.Models.TodoListWebApiModel

@{
	ViewData["Title"] = "Delete To-do List";
}

<h2>Delete List</h2>
<p>Are you sure you want to delete <strong>@Model.Title</strong>?</p>

<form asp-action="Delete" method="post">
	<input asp-for="Id" type="hidden" />
	<button type="submit" class="btn btn-danger">Delete</button>
	<a asp-action="Index" class="btn btn-secondary">Cancel</a>
</form>